
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    display: flex;
    background: #ccc;
    position: fixed;
    top:0;left: 0;
    right: 0; bottom: 0;
}
.app{
    display: absolute;
    align-content: center;
    justify-content: center;
    width:80%;
    background: #000;
}