
*{
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    min-height: 50px;
    width: 100%;
    background: #fff;
    margin-bottom: 1em;
}
.dialog{
    position: absolute;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
}
.app{
    align-content: center;
    justify-content: center;
    width:95%;
    background: #000;
    margin: auto;
}
